@model OnlineStore.Models.ProductVm

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <br />
    <h2>Create</h2>

    <h4>Products</h4>
    <hr />
    
    <div class="col-md-12">
        <form asp-action="Create2" asp-controller="Products" method="post" class="MyForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mx-auto">
                <label asp-for="CatId" class="col-md-6 label-control"></label>
                <div class="col-md-6">
                    @Html.DropDownList("CatId", (SelectList)ViewBag.CatList, "Choose Dapartment", new { @class = "form-control" })

                    <!--input type="text" name="CatName" class="form-control" id="CatName"-->
                    <span asp-validation-for="CatId" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="form-group row mx-auto">
                <label asp-for="ProductName" class="col-md-6 label-control"></label>
                <div class="col-md-6">
                    <input type="text" name="ProductName" class="form-control" id="ProductName">
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="form-group row mx-auto">
                <label asp-for="ProductPrice" class="col-md-6 label-control"></label>
                <div class="col-md-6">
                    <input type="number" class="form-control" name="ProductPrice" id="ProductPrice">
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row mx-auto">
                <label asp-for="ProductQuan" class="col-md-6 label-control"></label>
                <div class="col-md-6">
                    <input type="number" class="form-control" name="ProductQuan" id="ProductQuan">
                    <span asp-validation-for="ProductQuan" class="text-danger"></span>
                </div>
            </div>
            
            <br />
            <div class="form-group row mx-auto">
                <label asp-for="ProductDesc" class="col-md-6 label-control"></label>
                <div class="col-md-6">
                    <Textarea class="form-control" name="ProductDesc" id="ProductDesc"></Textarea>
                    <span asp-validation-for="ProductDesc" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row mx-auto">
                <label  class="col-md-6 label-control">Photo</label>
                <div class="col-md-6">

                    <input type="file" name="File" id="File" class="form-control">
                </div>
            </div>
            <br />
         
            <div class="form-group row mx-auto">
                <label asp-for="CreatedAt" class="col-md-6 label-control"></label>
                <div class="col-md-6">
                    <input type="Date" class="form-control" name="CreatedAt" id="CreatedAt">
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create" />
                <a class="btn btn-warning" asp-action="Index">Back to List</a>

            </div>
        </form>
    </div>
</div>
<br />