@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string url = "";
    url = Context.Request.Path;
}

@if (SignInManager.IsSignedIn(User))
{

    <li><a class="nav-link scrollto @if (url=="/Home/Orders"){<text>active</text>}" href="/Home/Orders">الطلبات</a>
    </li>
    <li>
        <a class="nav-link scrollto @if (url.Contains("/Identity/Account/")){
    <text>active</text>
}" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">مرحبا @User.Identity?.Name!</a>
    </li>
 
    <li >
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link scrollto" style="color:white">تسجيل الخروج</button>
        </form>
    </li>
}
else
{
    <li >
        <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Register">مستخدم جديد</a>
    </li>
    <li >
        <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Login">تسجيل دخول</a>
    </li>
}

