<div class="container">
    <br />
    <h2>Edit</h2>

    <h4>Role</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="EditRole" asp-controller="Admin" method="post" class="MyForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="form-group row mx-auto">
                    <label class="col-md-4 control-label">Name</label>
                    <div class="col-md-6">
                        <input Name="name" value="@Model.Name" class="form-control"required />
                        <!--span asp-validation-for="ProductName" class="text-danger"></!--span-->
                    </div>
                </div>
                <br />
             

                <div class="form-group row mx-auto">
                    <label class="col-md-4 control-label">Normalized Name</label>
                    <div class="col-md-6">
                        <input Name="normalizedName" value="@Model.NormalizedName" class="form-control" />
                        <!--span asp-validation-for="ProductName" class="text-danger"></!--span-->
                    </div>
                </div>
                <br />
                <div class="form-group row mx-auto">
                    <label class="col-md-4 control-label">Concurrency Stamp</label>
                    <div class="col-md-6">
                        <input Name="concurrencyStamp" value="@Model.ConcurrencyStamp" class="form-control" />
                        <!--span asp-validation-for="ProductName" class="text-danger"></!--span-->
                    </div>
                </div>
                <br />
                   
                
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-warning" asp-action="Roles">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

<br />