

<br />
<br />

<div class="container">

    <center>
        <h1><font color="red"> فشلت عملية الدفع  </font></h1>

    </center>
    <br />
    <div class="col-md-12">
        <center><a class="btn btn-danger" href="~/Home/Index">رجوع</a></center>
    </div>

</div>
<br />